{% extends "base.html" %}

{% block title %}Add New Student{% endblock %}

{% block content %}
<form method = "POST">
    <h3 align = "center"> Add Student </h3>
    <div class = "form-group">
        <label for="studentID">Student ID</label>
        <input 
            type = "text"
            class = "form-control"
            id = "studentID"
            name = "studentID"
            placeholder = "2021-0000"
        />
    </div>
    <div class = "form-group">
        <label for="firstName">First Name</label>
        <input 
            type = "text"
            class = "form-control"
            id = "firstName"
            name = "firstName"
            placeholder = "John"
        />
    </div>
    <div class = "form-group">
        <label for="lastName">Last Name</label>
        <input 
            type = "text"
            class = "form-control"
            id = "lastName"
            name = "lastName"
            placeholder = "Smith"
        />
    </div>
    <div class = "form-group">
        <label for="course">Course</label>
        <input 
            type = "text"
            class = "form-control"
            id = "course"
            name = "course"
            placeholder = "BS Computer Science"
        />
    </div>
    <div class = "form-group">
        <label for="year">Year</label>
        <input 
            type = "integer"
            class = "form-control"
            id = "year"
            name = "year"
            placeholder = "1"
        />
    </div>
    <div class = "form-group">
        <label for="gender">Gender</label>
        <input 
            type = "text"
            class = "form-control"
            id = "gender"
            name = "gender"
            placeholder = "Male"
        />
    </div>
    <br />
    <button type ="submit" class="btn btn-primary">Submit</button>
    <a href="/student" class="btn btn-secondary">Cancel</a>
</form>

{% endblock%}