<!DOCTYPE html>
<html>
  <head>
    <!-- Bootstrap framework -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <!-- Page Title -->
    <title>{% block title %}Page Title{% endblock %}</title>

    </head>
    
    <body>

        <!-- Navigation Bar Buttons -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
          <div class="navbar-nav">
            <!-- <a class="nav-item nav-link {% if request.path == '/' %}active{% endif %}" id="home" href="/">Home</a> -->
            <a class="nav-item nav-link {% if request.path == '/student' %}active{% endif %}" id="student" href="/student">Student</a>
            <a class="nav-item nav-link {% if request.path == '/course' %}active{% endif %}" id="course" href="/course">Course</a>
            <a class="nav-item nav-link {% if request.path == '/college' %}active{% endif %}" id="college" href="/college">College</a>
          </div>

          <div class="ml-auto">
            <form class="form-inline" action="{% if request.path == '/college' %}/college/search{% elif request.path == '/student' %}/student/search{% elif request.path == '/course' %}/course/search{% endif %}" method="GET">
                <input class="form-control mr-sm-2" type="search" name="query" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        
              
          </nav>
        <br><br>
        <!-- Message Flashing -->
        {%with messages = get_flashed_messages(with_categories=true)%}
        {%if messages%}
          {%for category, message in messages%}
          {%if category == 'error'%}
          <div class = "alert alert-danger alert-dismissable fade show" role ="alert">
            {{message}}
            <button type = "button" class = "close" data-dismiss = "alert">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {%else%}
          <div class = "alert alert-success alert-dismissable fade show" role ="alert">
            {{message}}
            <button type = "button" class = "close" data-dismiss = "alert">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {%endif%}
          {%endfor%}
        {%endif%}
        {%endwith%}

        <!-- Content -->
        <br/>
        <div class = "container">
          {% block content %}Content here{% endblock%}
        </div>
    
        <!-- Java Animation Scripts -->
        <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        ></script>
    </body>
</html>