{% extends "base.html" %}

{% block title %}College{% endblock %}

{% block content %}

    <div class="row mt-2">
        <div class="col-8 offset-2"> <!-- Center the table with padding -->
            <div class="row">
                <div class="col">
                    <h2>Colleges</h2>
                </div>
                <div class="col">
                    <a class="btn btn-primary float-right" id="addCollege" href="/add_college">Add College</a>
                </div>
            </div>
            
            <table class="table">
                <thead>
                <tr>
                    <th>Code</th>
                    <th style="width: 60%;">Name</th> <!-- Set a specific width for the "Name" column -->
                    <th>Action</th> <!-- New column for actions -->
                </tr>
                </thead>
                <tbody>
                {% for college in colleges %}
                    <tr>
                        <td>{{ college[0] }}</td>
                        <td>{{ college[1] }}</td>
                        <td>
                            <form action="/edit_college/{{ college[0] }}" method="get" style="display: inline;">
                                <button class="btn btn-warning" type="submit">Edit</button>
                            </form>
                            <form action="/delete_college/{{ college[0] }}" method="post" style="display: inline;">
                                <button class="btn btn-danger" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
