{% extends "base.html" %}

{% block title %}College{% endblock %}

{% block content %}
    <div class="row mt-2">
        <div class="col-8 offset-2"> <!-- Center the table with padding -->
            <div class="row">
                <div class="col">
                    <h2>Colleges</h2>
                </div>
                <div class="col">
                    <a class="btn btn-primary float-right" id="addCollege" href="/college/add">Add College</a>
                </div>
            </div>
            
            <table class="table">
                <thead>
                <tr>
                    <th>Code</th>
                    <th style="width: 60%;">Name</th> <!-- Set a specific width for the "Name" column -->
                    <th>Action</th> <!-- New column for actions -->
                </tr>
                </thead>
                <tbody>
                {% for college in colleges %}
                    <tr>
                        <td>{{ college[0] }}</td>
                        <td>{{ college[1] }}</td>
                        <td>
                            <form action="/college/edit" method="get" style="display: inline;">
                                <input type="hidden" name="collegeCode" value="{{ college[0] }}">
                                <input type="hidden" name="collegeName" value="{{ college[1] }}">
                                <button class="btn btn-warning" type="submit">Edit</button>
                            </form>
                            <form action="/college/delete" method="post" style="display: inline;">
                                <input type="hidden" name="collegeCode" value="{{ college[0] }}">
                                <button class="btn btn-danger" type="submit" onclick="return confirmDelete();">Delete</button>
                            </form>
                            
                            <script>
                                function confirmDelete() {
                                    return window.confirm("Deleting this college will also delete referenced students and courses. \n\nAre you sure you want to delete this college?");
                                }
                            </script>                                                                                  
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
