{% extends "baseB.html" %}

{% block title %}Edit Student{% endblock %}

{% block content %}
<form method = "POST">
    <h3 align = "center"> Edit Student </h3>
    <br>
    <!--
        <div class="image-container">
        <div class="image-wrapper" style="width: 200px; height: 200px; position: relative; left: 50%; transform: translateX(-50%); border-radius: 50%;">
            <label for="file-input" style="cursor: pointer;">
                <img src="{{ imageURL or url_for('static', filename='img/blank_pfp.jpeg') }}" style="height: 200px; width: 200px; border-radius: 50%;" id="preview-image" class="circle-image">
                <div class="overlay-text" style="font-size: 20px;">Upload Photo</div>
            </label>
            <input type="file" id="file-input" style="display: none;" accept="image/*" onchange="previewImage(event)" required>
            <input id="image_url" name="image_url" hidden />
        </div>
    -->
        <div class="image-container">
            <div class="image-wrapper" style="width: 200px; height: 200px; position: relative; left: 50%; transform: translateX(-50%); border-radius: 50%;">
                <label for="file-input" style="cursor: pointer;">
                    <img src="{{ imageURL }}" alt="default-pfp" style="height: 200px; width: 200px; border-radius: 100px;" id="preview-image" class="circle-image"> 
                    <div class="overlay-text" style="font-size: 20px;">Upload Photo</div>
                </label>
                <input type="file" id="file-input" style="display: none;" accept="image/*" onchange="previewImage(event)">
                <input id="image_url" name="image_url" hidden />
            </div>
        </div>
    
    <div class = "form-group">
        <label for="studentID">Student ID</label>
        <input 
            type = "text"
            class = "form-control"
            id = "studentID"
            name = "studentID"
            value="{{ studentID }}"
        />
    </div>
    <div class = "form-group">
        <label for="firstName">First Name</label>
        <input 
            type = "text"
            class = "form-control"
            id = "firstName"
            name = "firstName"
            value="{{ firstName }}"
        />
    </div>
    <div class = "form-group">
        <label for="lastName">Last Name</label>
        <input 
            type = "text"
            class = "form-control"
            id = "lastName"
            name = "lastName"
            value="{{ lastName }}"
        />
    </div>

    <div class="form-group">
        <label for="courseCode">Course</label>
        <select class="form-control" id="courseCode" name="courseCode">
            <option value="{{ course }}" selected> {{course}} </option>
            {% for c in courses %}
            {% if c.courseCode != course %}
                <option value="{{ c.courseCode }}">{{ c.courseCode }}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>

    <div class = "form-group">
        <label for="yearLevel">Year</label>
        <input 
            type = "integer"
            class = "form-control"
            id = "yearLevel"
            name = "yearLevel"
            value="{{ yearLevel }}"
        />
    </div>

    <div class="form-group">
        <label for="gender">Gender</label>
        <select class="form-control" id="gender" name="gender">
            <option value="Male" {% if gender == "Male" %}selected{% endif %}>Male</option>
            <option value="Female" {% if gender == "Female" %}selected{% endif %}>Female</option>
            <option value="Other" {% if gender == "Other" %}selected{% endif %}>Other</option>
            <option value="Prefer not to say" {% if gender == "Prefer not to say" %}selected{% endif %}>Prefer not to say</option>
        </select>
    </div>

    <br />
    <button type ="submit" class="btn btn-primary submit-button">Edit</button>
    <a href="/student" class="btn btn-secondary">Cancel</a>
</form>

<script>
    const preview = document.getElementById('preview-image');
    const submitButton = document.getElementById('submit-button');

    async function previewImage(event) {    
        const file = event.target.files[0];
        const formData = new FormData();
        formData.append("upload", file);

        const response = await fetch("{{ url_for('student.upload_image') }}", {
            method: "POST",
            body: formData,
        });

        const data = await response.json();

        if (data && data.is_success) {
            const shopImageUrlInput = document.querySelector("[name='image_url']");
            shopImageUrlInput.value = data.url;
        }

        const reader = new FileReader();

        reader.onload = function (e) {
            preview.src = e.target.result;
            submitButton.style.display = 'block'; // Show the submit button
        };

        reader.readAsDataURL(file);
    
    }
</script>

{% endblock%}